body{
background-image: url(https://kartin.papik.pro/uploads/posts/2023-07/thumbs/1689063821_kartin-papik-pro-p-kartinki-s-padayushchim-snegom-na-telefon-23.jpg);
background-size: cover;
}
.bobo{
text-align: center;
text-transform: uppercase;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}

footer p{
  text-align: center;
  background-color: blue;
  font-family: cursive;
}
.xdxd{
  border: 4px solid black;
  width: 130px;
  background-color: burlywood;
}
button{
  margin-left: 10px;
  border-radius:50px ;
  padding: 10px 10px 10px 10px;
  font-size: 20px;
}
button a{
  text-decoration: none;
  color: black;
}
.xdcs{
  border: 4px solid black;
  width: 130px;
  background-color: burlywood;
  margin-left: 10px;
}
.product{
  border: 4px solid black;
  width: 130px;
  background-color: burlywood;
  margin-left: 10px;
}
.container{
  display:flex ;
}
.container2{
  display:flex ;
}
.navd{
   border: 4px solid black;
  width: 130px;
  background-color: burlywood;
  margin-right: 10px;
  margin-top: 10px;
}
.uhii{
  border: 4px solid black;
  width: 130px;
  background-color: lightgreen;
  margin-right: 10px;
  margin-top: 10px;
}
.adsx{
  border: 4px solid black;
  width: 130px;
  background-color:indigo;
  margin-right: 10px;
  margin-top: 10px;
}
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.menu-main {
  list-style: none;
  margin: 40px 0 5px;
  padding: 25px 0 5px;
  text-align: center;
  background:lightblue ;
  border-radius: 15px;
}
.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "🔵";
  color: #606060;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: black;}
.menu-main a.current, .menu-main a:hover{color: darkgreen;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: rgba(148, 0, 211, 0.322);
  transition: .4s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   
media (max-width: 550px); {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
padding: 25px 0 20px; 
margin: 0 30px;
}

