body{
background-image: url(https://kartin.papik.pro/uploads/posts/2023-07/thumbs/1689063821_kartin-papik-pro-p-kartinki-s-padayushchim-snegom-na-telefon-23.jpg);
background-size: cover;
}
.bobo{
text-align: center;
text-transform: uppercase;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.bear{
font-size: 25px;
border-top: 5px solid black;
border-left:5px solid black ;
}
ul{
font-size: 30px;
}
.baba{
  font-size: 25px;
  border-bottom: 5px solid black;
border-right:5px solid black ;
}
footer p{
  text-align: center;
  background-color: blue;
  font-family: cursive;
}
div{
  background-color:cadetblue;
  border: 2px dashed black;
  width: 180px;
}
.check{
  padding: 10px 15px 10px 15px;
  border-radius: 20px;
  background-color: slateblue;
  cursor: cell;

}
.dasa{
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  background-color: goldenrod;
  font-size: 20px;
  font-family:cursive ; 
  cursor: help;
  }
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.menu-main {
  list-style: none;
  margin: 40px 0 5px;
  padding: 25px 0 5px;
  text-align: center;
  background:lightblue ;
  border-radius: 15px;
}
.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "🔵";
  color: #606060;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: black;}
.menu-main a.current, .menu-main a:hover{color: darkgreen;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: rgba(148, 0, 211, 0.322);
  transition: .4s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   
media (max-width: 550px); {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
padding: 25px 0 20px; 
margin: 0 30px;
}

